@media (min-width: 1440px) {
    .block-bg {
        .H-logo {
            width: 705px;
            height: 799px;
            background: url(../img/Header/Symbol-desktop-sd.png) no-repeat;
            left: calc(50% - 705px/2);
        }
    }     

    .block__title {
        padding: 240px 0 0 0;
    }    

    .block__scroll {
        .block__scroll-svg {
            margin: 299px 0 0 calc(50% - 42px/2 + 0.5px);
        }    
    }    

    .block__wraper {
        padding: 90px 0 0 180px;
    }    

    .block-serveces__title {
        padding-top: 43px;
    }

    .block-services__text {
        padding: 30px 0 43px 0;
    }

    .container__block-commerce {
        width: 28%;
    }

    .shadow-bg-1 {
        width: 97%;
    }   

    .shadow-bg-2 {
        width: 94%;
    }    

    .container2__block-photo {
        background: url(../img/Statement/man-desktop-sd.png) no-repeat center;
    }
}